  
html {
    height: 100%;
}

.wrapper {
      /* Растягиваем по высоте html */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styles */
header {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px 40px; /* Увеличил отступы слева и справа */
  }

.header-left {
    display: flex;
    flex-direction: column; /* Stack menu and title vertically */
    align-items: flex-start; /* Align menu and title to the left */
    flex-grow: 1; /* Allow left section to grow */
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    margin-bottom: 10px; /* Space between menu and title */
}

nav ul li {
    margin-right: 10px; /* Use margin-right for horizontal menu */
    margin-left: 0;
}

nav a,
.auth a {
    color: #13b6a0; /* Changed color for contrast */
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover,
.auth a:hover {
    background-color: rgba(0, 0, 0, 0.05); /* Adjusted hover color for light background */
}

.site-title {
    color: #307291;
    text-align: left; /* Align title to the left */
    font-size: 1.5em; /* Adjust size as needed */
    margin: 0; /* Remove default h1 margin */
}

.auth {
    position: absolute; /* Position auth links absolutely */
    top: 10px; /* Align to the top */
    right: 20px; /* Align to the right */
}

/* Main Content Styles */
main {
    /*padding: 20px;*/
    overflow: hidden; /* Ensure slider doesn't overflow */
}



/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer a {
    color: white;
    text-decoration: none;
}