.slider-container {
    width: 100%;
    position: relative;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.slider-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.slider-nav a {
    color: #0056b3;
    text-decoration: none;
    font-size: 2em;
    padding: 0 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.info-container {
    padding: 30px 50px 20px;
}